.theme-switcher {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  border-width: 1px;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: .2rem 2.5rem .2rem .75rem;
  margin: 1rem 0;
  outline: none;
  background-color: $body-background-color;
  color: $link-color;
  font-size: inherit;
  appearance: none;
  background-position: right .5rem center;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
}

@media (min-width: 93rem) {
  #toc {
    position: fixed;
    top: calc(60px + 2rem);
    left: calc((100% - 1528px) / 2 + 1164px);
    border-left: 1px solid $border-color;
    max-width: 364px;
    overflow-y: auto;
    max-height: calc(100% - 60px - 2rem);
    padding-left: 12px;
  }

  #toc ul, #toc ol {
    margin: 0;
    padding: 0;
  }
  #toc li {
    margin-left: 1rem;
  }

  #toc li.active > a {
    color: mix($body-background-color, $body-text-color, 10%);
    font-weight: 500;
  }

  #toc a {
    background: none;
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: mix($body-background-color, $body-text-color, 70%);
    transition: all 50ms ease-in-out;
  }

  #toc a:hover,
  #toc a:focus {
    color: $body-text-color;
  }
  #toc:not(.numbered) ol > li::before {
    content: none;
  }

  #toc code {
    font-size: 1.2em;
    background: none;
  }

  #toc pre {
    background: none;
  }
  .side-bar {
    width: calc((100% - 1528px) / 2 + 364px);
    min-width: 364px;
  }
  .main {
    margin-left: calc((100% - 1528px) / 2 + 364px);
  }
  .site-nav,
  .site-header,
  .site-footer {
    width: 364px;
  }

}

#toc pre {
  overflow: hidden !important;
}

#toc > ol > li > ol > li > ol {
  display: none;
}

#toc.top-level > ol > li > ol {
  display: none;
}

.numbered ol {
  list-style-type: none;
  counter-reset: toc !important;
}

.numbered ol > li:before {
  content: counters(toc, ".") ". " !important;
  counter-increment: toc !important;
}

.numbered li ol > li:before {
  content: counters(toc, ".") " ";
}

.numbered li ol > li {
  padding-left: 1em;
}

#contributors {
  display: flex;
}

#contributors > a {
  padding: 10px;
  background: none;
}

#contributors img {
  width: 30px;
}

.post {
  background: $table-background-color;
  padding: 10px;
  margin-bottom: 10px;
}

.post-title {
  line-break: anywhere;
}

.nav-list-link .label {
  padding-top: 0;
  padding-bottom: 0;
}