---
layout: default
title: "News"
has_children: true
has_toc: false
---

<h1>News</h1>

{% for post in paginator.posts %}
<div class="post">
    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <small class="post-date">{{ post.date | date: "%-d %B %Y" }}</small>
    <span class="post-excerpt">{{ post.excerpt }}</span>
</div>
{% endfor %}

{% if paginator.previous_page or paginator.next_page %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
    </a>
    {% endif %}
    <span class="page_number ">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
</div>
{% endif %}