$panel-info-background: #213468;
$panel-info-border: #5bccee;

$panel-notice-background: #4c2168;
$panel-notice-border: #ee5b98;

$panel-warning-background: #5a3a10;
$panel-warning-border: #ee7d5b;

$panel-error-background: #5a0101;
$panel-error-border: #ee5b5b;

$body-background-color: #36393f;
$sidebar-color: #2f3136;
$border-color: #2c2f33;

$body-text-color: #dcddde;
$body-heading-color: #669de6;
$nav-child-link-color: #7289da;
$search-result-preview-color: $grey-dk-000;

$link-color: #7289da;
$btn-primary-color: $blue-200;
$base-button-color: $sidebar-color;

$code-background-color: #302d36;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 27%);