$body-background-color: rgb(51, 58, 80);
$sidebar-color: rgb(44, 50, 68);
$border-color: rgb(32, 34, 46);

$body-text-color: rgb(136, 149, 182);
$body-heading-color: $grey-lt-000;
$nav-child-link-color: rgb(227, 222, 239);
$search-result-preview-color: $grey-dk-000;

$link-color: $grey-lt-300;
$btn-primary-color: $blue-200;
$base-button-color: rgb(54, 61, 85    );

$code-background-color: rgb(44, 50, 68);
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 27%);
