$body-background-color: #36393f;
$sidebar-color: #2f3136;
$border-color: #2c2f33;

$body-text-color: #dcddde;
$body-heading-color: #b5dbcb;
$nav-child-link-color: #7289da;
$search-result-preview-color: $grey-dk-000;

$link-color: #7289da;
$btn-primary-color: $blue-200;
$base-button-color: $sidebar-color;

$code-background-color: #302d36;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 27%);
