$panel-info-background: #e8f7ff;
$panel-info-border: #5bccee;

$panel-notice-background: #f8e8ff;
$panel-notice-border: #ee5bd5;

$panel-warning-background: #fffbe8;
$panel-warning-border: #ee7d5b;

$panel-error-background: #ffe1e1;
$panel-error-border: #ee5b5b;